{% extends "layout.html" %}
{% block body %}

  <form action="{{ url_for('close_server') }}" method=post class=add-entry>
    <dl>
      <dd><input type=submit name=exit value="Close server">
    </dl>
  </form>

  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <select name=type>
          <option value=fiction_ffnet>fanfiction.net</option>
        </select>
        <dd><input type=text size=30 name=story_id placeholder="Story id">
        <dd><input type=int size=10 name=chapter placeholder=Chapter>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}

  <form action="{{ url_for('refresh') }}" method=post class=add-entry>
    <dl>
      <dd><input type=submit name=refresh_button value=Refresh>
    </dl>
  </form>

  <form action="{{ url_for('choose_what_to_show') }}" method=post class=filter>
    <dl>
      <select name=type>
        <option value=all>All</option>
        <option value=fiction_ffnet>fanfiction.net</option>
      </select>
      <dd><input type=checkbox name=hide_update {% if hides.hide_update %} checked {% endif %}>Hide non updated</dd>
      <dd><input type=checkbox name=hide_hidden {% if hides.hide_hidden %} checked {% endif %}>Hide hidden stuff</dd>
      <dd><input type=submit value=Filter></dd>
    </dl>
  </form>

  <ul class=entries>
  {% for entry in entries %}
    <li><h2><a href={{entry.first_chapter_link}}>{{ entry.title }}</a></h2> Last chapter read: {{ entry.chapter }} {% if entry.chapter != entry.next_chapter_numb %} - <a href={{entry.next_chapter_link}}>next chapter ({{ entry.next_chapter_numb }})</a> {% endif %} - last chapter available: {{entry.last_chapter_numb}}    

    <form action="{{ url_for('entry_update', table=entry.table, entry=entry.id) }}" method=post class=hide-entry>
      <input type=int size=10 name=new_chapter placeholder="Chapter"><input type=checkbox name=hide {% if entry.hidden %} checked {% endif %}>hide <input type=submit value=reload>
    </form>
  {% endfor %}
  </ul>

{% endblock %}